[View in Colaboratory](https://colab.research.google.com/github/alexamies/chinesenotes.com/blob/master/colab/querying_cnotes.ipynb)

# Querying the Chinese Notes Corpus
Query the Chinese Notes corpus based on titles, word frequency, and bigram frequency. First load the 
document and index data into BigQuery using the instructions in the 
[index/README.md](https://github.com/alexamies/chinesenotes.com/blob/master/index/README.md)
file.

## Setup
Setup this sheet for querying the dataset

In [1]:
project_id = "YOUR PROJECT ID"
!gcloud config set project {project_id}

import os
os.environ['GOOGLE_CLOUD_PROJECT'] = project_id

from google.colab import auth
auth.authenticate_user()

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Updated property [core/project].

## Query Word Frequency
With BM25 document similarity

In [0]:
query = "莫如樹人"
terms = ["莫如","樹", "人"]
bigram = [terms[0] + terms[1], terms[1] + terms[2]]

In [55]:
word_freq_df3u = pd.io.gbq.read_gbq('''
  SELECT
    SUM(2.5 * frequency * idf / (frequency + 1.5)) AS sim_words,
    document
  FROM
    [cnreader.word_freq_doc]
  WHERE
    (word = '%s' OR word = '%s' OR word = '%s')
  GROUP BY document 
  ORDER BY sim_words DESC LIMIT 5000
''' % (terms[0], terms[1], terms[2]), project_id=project_id)
word_freq_df3u.head(5)

   sim_words                   document
0   4.011951  zuozhuan/zuozhuan011.html
1   3.676043    songshi/songshi295.html
2   3.654087  zuozhuan/zuozhuan010.html
3   3.622560      guanzi/guanzi004.html
4   3.584419    wenxuan/wenxuan029.html

In [56]:
word_freq_df3u[word_freq_df3u['document'] == 'guanzi/guanzi004.html']

   sim_words               document
3    3.62256  guanzi/guanzi004.html

In [59]:
word_freq_df3u[word_freq_df3u['document'] == 'hanfeizi/hanfeizi033.html']

     sim_words                   document
240   1.458261  hanfeizi/hanfeizi033.html

In [60]:
1.458261/3.62256

0.4025498542467206